<navigation is-categories-active="true"></navigation>

<div class="container">
  <div class="row">
    <div
      class="d-grid col-6 col-sm-3 p-1"
      ng-repeat="category in $ctrl.categories"
      ui-sref="categories.items({categoryShortName: $ctrl.categories[$index].short_name})"
    >
      <button
        type="button"
        class="btn btn-outline-primary"
        ng-click="$ctrl.setCategoryID($index);"
      >
        {{ category.name }}
      </button>
    </div>
  </div>

  <ui-view> </ui-view>
</div>
