<table class="table table-bordered mt-3" ng-if="showTable();">
    <tbody>
        <tr ng-repeat="matchedMenuItem in found">
            <td class="align-middle">{{ matchedMenuItem.name }}</td>
            <td class="align-middle text-center">{{ matchedMenuItem.short_name }}</td>
            <td class="align-middle">{{ matchedMenuItem.description }}</td>
            <td class="align-middle text-center"><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
        </tr>
    </tbody>
</table>
<div class="reminder ms-1 mt-3" ng-if="showReminder();">Nothing found</div>