<div class="container">
  <h1 class="h2">Sign up for the newsletter!</h1>

  <form name="signUpForm" id="signUpForm" novalidate>
    <div class="form-group">
      <label for="firstName">First name</label>
      <span
        class="warning"
        ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched"
        >*First name is required!</span
      >
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        ng-model="signUpCtrl.user.firstName"
        required
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <span
        class="warning"
        ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched"
        >*Last name is required!</span
      >
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        ng-model="signUpCtrl.user.lastName"
        required
      />
    </div>

    <div class="form-group">
      <label for="emailAddress">Email address</label>
      <span
        class="warning"
        ng-if="signUpForm.emailAddress.$invalid && signUpForm.emailAddress.$touched"
        >*Email address is invalid!</span
      >
      <input
        type="email"
        class="form-control"
        id="emailAddress"
        name="emailAddress"
        ng-model="signUpCtrl.user.emailAddress"
        required
      />
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <span
        class="warning"
        ng-if="signUpForm.phoneNumber.$invalid && signUpForm.phoneNumber.$touched"
        >*Phone number is invalid!</span
      >
      <input
        type="tel"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        ng-model="signUpCtrl.user.phoneNumber"
        pattern="(\d{3})-(\d{3})-(\d{4})"
        required
      />
      <span class="helper help-block"
        >Please type in the format '###-###-####'</span
      >
    </div>

    <div class="form-group">
      <label for="favoriteDish">Favorite dish</label>
      <input
        type="text"
        class="form-control"
        id="favoriteDish"
        name="favoriteDish"
      />
      <span class="helper help-block">Please type in the 'menu number'</span>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
